<form action="<%= sessions_url %>" method="post">
    Username: <input type="text" name="user[username]" value="">
    <br>
    Password: <input type="password" name="user[password]" value="">
    <br>   

    <input type="submit">
</form>