.tile {
    border-style: outset;
    text-align: center;
    background-color: gray;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.board {
    display: grid;
    padding: 10px;
    justify-content: center;
    grid-template: auto auto auto / auto auto auto;
}

body{
    text-align: center;
}

h1, p {
    padding: 0;
    margin: 0;
}