.tile {
    border-style: outset;
    text-align: center;
    background-color: gray;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.tile.explored{
    border-style: inset;
    text-align: center;
    background-color: grey;
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}


.board {
    display: grid;
    padding: 10px;
    justify-content: center;
    grid-template: auto auto auto / auto auto auto;
}

body{
    text-align: center;
}

h1, p {
    padding: 0;
    margin: 0;
}

#win {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
}

#lose {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
}

#win-display {
    display: block;
    position: absolute;
    z-index: 2;

    padding: 10px;
    top: 100px;
    left: 50%;
    background: wheat

}

#lose-display {
    display: block;
    position: absolute;
    z-index: 2;

    padding: 10px;
    top: 100px;
    left: 50%;
    background: wheat
    
}