<h1>Edit Poem Form</h1> 

<form action="<%=poem_url%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <%=auth_token%>
    <label>Title
        <input type="text" name="poem[title]" value="<%=@poem.title%>">
    </label>

    <label>Stanzas
        <input type="text" name="poem[stanzas]" value="<%=@poem.stanzas%>">
    </label>

    <label>True
        <input type="radio" name="poem[complete]" value="true" 
            <% if @poem.complete %> 
                selected 
            <%end%>
        >
    </label>
    <label>false
        <input type="radio" name="poem[complete]" value="false">
        <% if @poem.complete %> 
                selected 
            <%end%>
    </label>

    <input type="submit" value="Save Edited Poem">
</form>